src/main/mule/implementation/brazil-fipe-car-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">

	<flow name="main-brazil-fipe-car-api-flow"
		doc:id="7f124a1d-5cf0-43a6-87da-509aece69b08">
		<set-variable
			value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    "brand": upper(attributes.queryParams.brand),&#10;    "year": attributes.queryParams.year,&#10;    "carDetails": upper(attributes.queryParams.carDetails)&#10;}]'
			doc:name="Set vars.carInfo"
			doc:id="6555665b-805e-4e49-b655-0269f439986a" variableName="carInfo" />
		<flow-ref
			doc:name="get-car-brand-id-brazil-fipe-car-api-flow"
			doc:id="5f5bb995-5582-49ec-9040-b2517242ad8a"
			name="get-car-brand-id-brazil-fipe-car-api-flow" />
		<flow-ref doc:name="get-car-model-brazil-fipe-car-api-flow"
			doc:id="7da2e7c4-fd97-43d6-805b-623bd60fa0b1"
			name="get-car-model-brazil-fipe-car-api-flow" />
		<parallel-foreach doc:name="Parallel For Each"
			doc:id="3b916c39-74fc-44ad-9d59-d4825e433106"
			collection="#[vars.models]">
			<set-variable value="#[payload.codigo]"
				doc:name="Set vars.modelId"
				doc:id="f5e1942b-d363-41f0-80c2-39a86cf2a39c" variableName="modelId" />
			<try doc:name="Try" doc:id="db3b6652-da0e-424f-9cee-5d3d60d2f8ef">
				<flow-ref doc:name="get-car-year-brazil-fipe-car-api-flow"
					doc:id="4c48fea5-6048-4366-9577-c5e91ab1d36d"
					name="get-car-year-brazil-fipe-car-api-flow" />
				<flow-ref doc:name="get-car-data-brazil-fipe-car-api-flow"
					doc:id="0b40d139-9ad7-4d4e-b524-1f2d942d87e9"
					name="get-car-data-brazil-fipe-car-api-flow" />
				<set-payload
					value='#[%dw 2.0 output application/json ---&#10;{&#10;	"status": "successful",&#10;	"data": payload&#10;}]'
					doc:name="Set sucess payload"
					doc:id="b60feaaf-ccc9-46d2-aa83-79157d1a75c2" />
				<error-handler>
					<on-error-continue enableNotifications="true"
						logException="false" doc:name="On Error Continue"
						doc:id="27c5e06a-1e0b-4dbf-97e5-c02132f4cc86"
						type="FIPECAR:NOT_FOUND">
						<logger level="WARN" doc:name="[WARN] - Log Error"
							doc:id="ff265658-d5ee-4ee5-905c-4114aa2b04a4"
							message='#[%dw 2.0 output application/json --- "$(vars.setup.process) - An error occurred: " ++ error.description]' />
						<set-payload
							value='#[%dw 2.0 output application/json ---&#10;{&#10;	"status": "failed",&#10;	"errorDescription": error.detailedDescription default "",&#10;	"data": null&#10;}]'
							doc:name="Set failed payload"
							doc:id="c6a0b6b4-a1e5-4336-9dbc-c18a9f8b1800" />
					</on-error-continue>
				</error-handler>
			</try>
		</parallel-foreach>
		<set-payload
			value='#[%dw 2.0 output apllication/json ---&#10;payload.typedValue[?($.status == "successful")].data]'
			doc:name="Set final payload"
			doc:id="d4047fc1-7af5-468c-b0c2-99782b234fff" />
		<error-handler
			ref="brazil-fipe-car-error-handler-errors-flow" />
	</flow>

	<sub-flow name="get-car-brand-id-brazil-fipe-car-api-flow"
		doc:id="54308861-4cd3-4590-9362-0eab50a15c8b">
		<set-variable
			value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	host: p("fipe_api.host"),&#10;	basePath: p("fipe_api.base_path"),&#10;	path: p("fipe_api.paths.brands"),&#10;	method: "GET"&#10;}]'
			doc:name="Set vars.genericRequester"
			doc:id="23ceb82b-8b3a-4538-8c7e-1d5e73655699"
			variableName="genericRequester" />
		<ee:cache doc:name="Cache"
			doc:id="7bf6ff5c-65c9-4a72-933b-bdf34c93aceb"
			cachingStrategy-ref="Caching_Strategy_Car_Brands">
			<until-successful maxRetries="2"
				doc:name="Until Successful"
				doc:id="fbf670e4-a048-4ff1-9f59-f4ba6d90589b"
				millisBetweenRetries="2000">
				<flow-ref doc:name="generic-https-requester-commons-flow"
					doc:id="4216133e-3b31-4b60-975f-1d1746ffdc24"
					name="generic-https-requester-commons-flow" />
			</until-successful>
		</ee:cache>
		<set-variable
			value="#[%dw 2.0&#10;output application/json&#10;---&#10;(payload[?((upper($.nome)) == (upper(vars.carInfo.brand)))])[0].codigo]"
			doc:name="Set vars.brandId"
			doc:id="4aed5cdc-ac96-4297-b017-b9666798393d" variableName="brandId" />
		<validation:is-not-null
			doc:name="Was the car brand ID found?"
			doc:id="f86bb7fa-1909-43b3-b65e-dd39167e5747" value="#[vars.brandId]"
			message="#[&quot;The car brand couldn't be found.&quot;]">
			<error-mapping sourceType="VALIDATION:NULL"
				targetType="FIPECAR:NOT_FOUND" />
		</validation:is-not-null>
		<logger level="INFO"
			doc:name="[INFO] - Car brand found successfully"
			doc:id="f372c201-5d4a-453f-892f-9dc93ae6e9af"
			message='#[%dw 2.0 output application/json --- "$(vars.setup.process) - Car brand found successfully!"]' />
	</sub-flow>

	<sub-flow name="get-car-model-brazil-fipe-car-api-flow"
		doc:id="4ca0697a-c8fe-4bb5-9ef2-c896e26febcf">
		<set-variable
			value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	host: p("fipe_api.host"),&#10;	basePath: p("fipe_api.base_path"),&#10;	path: p("fipe_api.paths.models"),&#10;	uriParameters: {&#10;		brandId: vars.brandId&#10;	},&#10;	method: "GET",&#10;}]'
			doc:name="Set vars.genericRequester"
			doc:id="d16aa985-44ac-462e-9ce3-976c8fb0a33b"
			variableName="genericRequester" />
		<ee:cache doc:name="Cache"
			doc:id="868901dc-2f8d-4571-adb7-594197902108"
			cachingStrategy-ref="Caching_Strategy_Car_Models">
			<until-successful maxRetries="2"
				doc:name="Until Successful"
				doc:id="b2c4b9b7-18f2-4b94-a49c-9a9c6f3099e2"
				millisBetweenRetries="2000">
				<flow-ref doc:name="generic-https-requester-commons-flow"
					doc:id="1b95c367-2c7c-4d3c-9b34-176b47be29fa"
					name="generic-https-requester-commons-flow" />
			</until-successful>
		</ee:cache>
		<set-variable
			value='#[%dw 2.0&#10;output application/json&#10;&#10;fun generateRegexPattern(words) = (&#10;	((words map() -&gt; ("(?=.*\\b" ++ upper($) ++ "\\b)")) joinBy "")&#10;)&#10;&#10;fun getModels(carDetails) = (&#10;	payload.modelos filter (&#10;    	upper($.nome) matches (/^/ ++ (generateRegexPattern((vars.carInfo.carDetails splitBy " ")[?(!isBlank($))])) ++ /.+$/)&#10;	)&#10;)&#10;--- &#10;if(getModels(vars.carInfo.carDetails) != [])(&#10;	getModels(vars.carInfo.carDetails)&#10;)&#10;else(&#10;	getModels(vars.carInfo.carDetails replace /[^a-zA-Z\s]/ with(""))&#10;)]'
			doc:name="Set vars.models"
			doc:id="95c13129-5e8c-4859-a3a3-9f6c4cc819df" variableName="models" />
		<validation:is-not-empty-collection
			doc:name="Was the cars models found?"
			doc:id="3214fdf6-2030-4b45-8b58-3d40ae9a2743" values="#[vars.models]"
			message="#[&quot;The cars models couldn't be found.&quot;]">
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION"
				targetType="FIPECAR:NOT_FOUND" />
		</validation:is-not-empty-collection>
		<logger level="INFO"
			doc:name="[INFO] - Car model found successfully"
			doc:id="fd3fda09-02ab-4f3c-ba5c-4c8bef4014aa"
			message='#[%dw 2.0 output application/json --- "$(vars.setup.process) - Car model found successfully!"]' />
	</sub-flow>

	<sub-flow name="get-car-year-brazil-fipe-car-api-flow"
		doc:id="8a9852e3-62bb-49f9-91d2-2eedc78f3f9a">
		<set-variable
			value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	host: p("fipe_api.host"),&#10;	basePath: p("fipe_api.base_path"),&#10;	path: p("fipe_api.paths.years"),&#10;	uriParameters: {&#10;		brandId: vars.brandId,&#10;		modelId: vars.modelId&#10;	},&#10;	method: "GET",&#10;}]'
			doc:name="Set vars.genericRequester"
			doc:id="97456683-6b26-4b24-be22-5dd126df968b"
			variableName="genericRequester" />
		<ee:cache doc:name="Cache"
			doc:id="d5af824a-081e-41ac-b507-5b1b1f4abf40"
			cachingStrategy-ref="Caching_Strategy_Car_Years">
			<until-successful maxRetries="2"
				doc:name="Until Successful"
				doc:id="1c9ca5df-624b-4a19-8726-d1261dbaf756"
				millisBetweenRetries="2000">
				<flow-ref doc:name="generic-https-requester-commons-flow"
					doc:id="e545bb45-74b2-47c6-a5c9-21ea483e302f"
					name="generic-https-requester-commons-flow" />
			</until-successful>
		</ee:cache>
		<set-variable
			value='#[%dw 2.0&#10;output application/json&#10;---&#10;(payload[?((upper($.nome)) contains (upper(vars.carInfo.year)))])[0].codigo]'
			doc:name="Set vars.yearId"
			doc:id="8005de7a-464f-4469-8344-c236417904cc" variableName="yearId" />
		<validation:is-not-null
			doc:name="Was the car year ID found?"
			doc:id="a73e2b08-0c13-43c7-868a-9053abddc57e" value="#[vars.yearId]"
			message="#[&quot;The car year couldn't be found.&quot;]">
			<error-mapping sourceType="VALIDATION:NULL"
				targetType="FIPECAR:NOT_FOUND" />
		</validation:is-not-null>
		<logger level="INFO"
			doc:name="[INFO] - Car year found successfully"
			doc:id="7362f8b0-53b7-4ccf-97d8-da1a916672ab"
			message='#[%dw 2.0 output application/json --- "$(vars.setup.process) - Car year found successfully!"]' />
	</sub-flow>

	<sub-flow name="get-car-data-brazil-fipe-car-api-flow"
		doc:id="1032618e-c86c-413d-9efc-2d0fb0cd1a8f">
		<set-variable
			value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	host: p("fipe_api.host"),&#10;	basePath: p("fipe_api.base_path"),&#10;	path: p("fipe_api.paths.cars"),&#10;	uriParameters: {&#10;		brandId: vars.brandId,&#10;		modelId: vars.modelId,&#10;		yearId: vars.yearId&#10;	},&#10;	method: "GET",&#10;}]'
			doc:name="Set vars.genericRequester"
			doc:id="7da86f7d-4de4-4a3a-a390-0b392678c1be"
			variableName="genericRequester" />
		<ee:cache doc:name="Cache"
			doc:id="7d783274-4f99-491f-8021-dec8d4ddc9ee"
			cachingStrategy-ref="Caching_Strategy_Car_Infos">
			<until-successful maxRetries="2"
				doc:name="Until Successful"
				doc:id="446be812-e5f8-493f-8962-c0c554b8d44b"
				millisBetweenRetries="2000">
				<flow-ref doc:name="generic-https-requester-commons-flow"
					doc:id="3868f3bf-107b-477b-bb77-4e34f403f70b"
					name="generic-https-requester-commons-flow" />
			</until-successful>
		</ee:cache>
		<validation:is-not-null
			doc:name="Was the car data found?"
			doc:id="64da60ca-4971-4359-bffe-b3a39d160c1c"
			value="#[payload.CodigoFipe]"
			message="#[&quot;The car data couldn't be found.&quot;]">
			<error-mapping sourceType="VALIDATION:NULL"
				targetType="FIPECAR:NOT_FOUND" />
		</validation:is-not-null>
		<logger level="INFO"
			doc:name="[INFO] - Car data found successfully"
			doc:id="6ef33909-7ce5-4286-b096-3ecfca0b9021"
			message='#[%dw 2.0 output application/json --- "$(vars.setup.process) - Car data found successfully!"]' />
	</sub-flow>
</mule>
