src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
		http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
	
	<flow name="brazil-fipe-car-api-spec-main">
		<http:listener config-ref="HTTP_Listener_Config"
			path="/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*"
}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*"
}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router
			config-ref="brazil-fipe-car-api-spec-config" />
		<error-handler ref="api-kit-error-handler-errors-flow">

		</error-handler>
	</flow>
	
	<flow name="brazil-fipe-car-api-spec-console">
		<http:listener config-ref="HTTP_Listener_Config"
			path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console
			config-ref="brazil-fipe-car-api-spec-config" />
		<error-handler ref="api-kit-error-handler-errors-flow" />
	</flow>
	
	<flow name="get:\fipe-car:brazil-fipe-car-api-spec-config">
		<set-variable
			value='#[%dw 2.0 output application/json ---&#10;{&#10;	process: "Search car FIPE"&#10;}]'
			doc:name="Set vars.setup"
			doc:id="07d5716a-9361-4fc1-92f0-ae87388e0db3" variableName="setup" />
		<logger level="INFO" doc:name="[INFO] - Stating process"
			doc:id="09c25578-74bc-42bb-a9b8-17727019a4bf"
			message='#[%dw 2.0 output application/json --- "$(vars.setup.process) - Stating process."]' />
		<flow-ref doc:name="main-brazil-fipe-car-api-flow"
			doc:id="fc04573d-8b61-4814-b2d4-86298d9dd8c4"
			name="main-brazil-fipe-car-api-flow" />
		<logger level="INFO" doc:name="[INFO] - Finished process"
			doc:id="bdd77382-17e5-4f39-a48f-86c6b41e3401"
			message='#[%dw 2.0 output application/json --- "$(vars.setup.process) - Finished process."]' />
	</flow>
</mule>
